<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
      <%= render 'users/info', user: current_user %>
      <h2 class="mt-3">New book</h2>
      <% if @book.errors.any? %>
        <div id="error_explanation">
          <h3><%= pluralize(@book.errors.count, "error") %> prohibited this obj from being saved:</h3>
          <ul>
          <% @book.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <%= render 'form', book: @book %>
    </div>
    <div class='col-md-8 offset-md-1'>
      <h2>Books</h2>
      <ul id="tab-menu">
        <li class="sort"><a href="#tab1" class="active">新しい順</a></li>
        <li class="sort">|</li>
        <li class="sort"><a href="#tab2">評価の高い順</a></li>
      </ul>
      <div id="tab-contents">
        <div id="tab1" class="tab"><%= render 'index', books: @books %></div>
        <div id="tab2" class="tab"><%= render 'rate', books: @books_rate %></div>
      </div>
    </div>
  </div>
</div>
<script>
  $('#tab-contents .tab[id != "tab1"]').hide();
  $('#tab-menu a').on('click' , function(event) {
    $("#tab-contents .tab").hide();
    $("#tab-menu .active").removeClass("active");
    $(this).addClass("active");
    $($(this).attr("href")).show();
    event.preventDefault();
  });
</script>